<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{ data1 }}</h3>
    <hr/>
    {% for i in data1 %}
    <h3>{{ i }}</h3><br/>
    {% endfor %}
    <hr/>
    {% for i in data1 %}
    <h3>{{ i.title }}</h3><br/>
    {% endfor %}
    <hr/>
    {% for i in data1 %}
    <h3>{{ i.author }}</h3><br/>
    {% endfor %}
    <hr/>
    {% for i in data1 %}
    <h3>{{i.title}}    {{ i.author }}</h3><br/>
    {% endfor %}
</body>
</html>